@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    box-sizing: border-box;
}

a { color: inherit; } 

.container {
    padding: 24px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #fff;
    /* box-shadow: 10px rgba(255, 255, 255, 0.3); */
    width: 400px;
  }

  h2 {
      text-shadow: 0 0 15px #39ff14;
      letter-spacing: 10px;
    text-align: center;
    margin: 0;
    padding: 0px;
    font-family: "Bungee Outline", "sans-serif";
    font-size: 64px;
    color: #aaffaa;
  }

body {
    font-family: "Roboto Mono", "sans-serif";
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: #262626;
}

.social-ul{
    display: flex;
    padding: 0px;
  }
.social-ul .social-li{
    text-align: center;
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 10px 15px;
    cursor: pointer;
    transition: .5s;
  }
  .social-ul .social-li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    /* background: #d35400; */
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
  }
  
  .social-ul .social-li:nth-child(1):before{
    background: #E1306C;
  }
  .social-ul .social-li:nth-child(2):before{
    background: #2867B2;
  }
  
  .social-ul .social-li:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
  }
  
  .social-ul .social-li:nth-child(1):hover:before{
    box-shadow: 0 0 15px #E1306C;
  }
  .social-ul .social-li:nth-child(2):hover:before{
    box-shadow: 0 0 15px #2867B2;
  }
  
  .social-ul .social-li:nth-child(1):hover{
    color: #e23670;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 15px #E1306C;
  }
  .social-ul .social-li:nth-child(2):hover{
    color: #2a6cbb;
    box-shadow: 0 0 15px #2867B2;
    text-shadow: 0 0 15px #2867B2;
  }
  
  /* .social-ul .social-li:hover{
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400; 
  } 

  https://www.codingnepalweb.com/glowing-social-media-icons-html-css/
    */